@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #000099;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
.borders{
  background-color: #348ceb;
  
  
}
.recept-foto{
  height: 400px;
  width: 400px;
}
.borders:hover img{
  opacity: 75%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
